h1 All Laptops
 p Screen Size, Hard Drive Space, Memory, Laptop ID
 ul
  each laptop in laptops
   li: a(href="/laptops/#{laptop._id}") #{laptop.screenSize}, #{laptop.hardDrive}, #{laptop.ram} (#{laptop._id})